{% extends "base.html.twig" %}

{% block body %}
    <div class="container" style="background-color: blueviolet"><h2 class="text-center">About Page</h2></div>
    <div class="jumbotron">
        <div class="text-center">Contact Phone: 000000000</div>
        <div class="text-center">Email: 000000000</div>
        <div class="text-center">Adress: 000000000</div>
    </div>
    <script type="text/javascript">
        // $(document).ready(function () {
        //     $("table").footable();
        // })
    </script>
{% endblock %}